// master.scss
// scss-lint:disable PropertySortOrder
// scss-lint:disable VendorPrefix
// scss-lint:disable PseudoElement
// scss-lint:disable ColorVariable
// scss-lint:disable ImportPath
// scss-lint:disable NestingDepth
// scss-lint:disable QualifyingElement
// scss-lint:disable SingleLinePerSelector
// scss-lint:disable Shorthand
// site colors
$orange: #ff7200;
$navy: #011627;
$darkgray: #6b7c93;
$palegray: #99afc0;
$white: #fff;
$black: #000;
$facebook: #3b5791;
$google: #9d2b24;
$error: #dc3545;
$steel: #838b91;
$navy2: #001e34;
$teal: #00939f;
$error: #dc3545;
$coral: #ff0000;
$selector-bg: #e2e2e2;
$dash-bg: #f4f6f9;
$color-primary-1: #fe340c;
$color-primary-2: #b3b3b3;
// personality colors
$conventional: #f7931e;
$conventional-alpha: #fdd9c9;
$social: #5f247e;
$social-alpha: #5f247e;
$investigative: #44c8f4;
$investigative-alpha: #cfedfb;
$artistic: #f06eaa;
$artistic-alpha: #fadbe9;
$realistic: #00a54a;
$realistic-alpha: #e4efc7;
$enterprising: #a70000;
$enterprising-alpha: #f9bec0;
@import url('https://fonts.googleapis.com/css?family=Comfortaa|Montserrat:400,700');

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

p,
div,
section,
aside,
main,
table,
ul,
li,
ol,
a {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../images/Preloader_8.gif') center no-repeat #fff;
}

#loginPage {
  padding-left: 0;
  background-color: rgba(180, 192, 202, 0.14);
  label {
    font-size: 14px;
    color: $navy2;
    font-family: "Montserrat", sans-serif;
    font-weight:700;

    &.error {
      color: $error;
      font-size: 12px;
      margin-bottom: 0;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
    }
  }
  .ucms {
    font-size: 28px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: $navy2;
    margin-top: 79px;
  }
  .form-control {
    border: solid 1px rgba($steel, 0.4);
    padding-top: 13px;
    padding-bottom: 12px;
    padding-left: 18px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
  }
  .form-group {
    a {
      color: $steel;
      text-decoration: underline;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 13px;
    }
  }
}

// updated login page layou
.page-limiter{
  width: 100%;
  margin: 0 auto;
}
.login-container{
  width: 100%;
  min-height: 100vh;
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #FD5635, #5C6BC0);
  background: -o-linear-gradient(-135deg, #FD5635, #5C6BC0);
  background: -moz-linear-gradient(-135deg, #FD5635, #5C6BC0);
  background: linear-gradient(-135deg, #FD5635, #5C6BC0);
}
.login-box{
  width: 960px;
  background: #fff;
  border-radius: 10px;
  overflow:hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 177px 130px 140px 95px;
}

.login-pic{
  width: 316px;

  // &:hover img {
  //     -webkit-animation: anim-image 0.8s ease-in-out forwards;
  //     animation: anim-image 0.8s ease-in-out forwards;
  // }

  img{
      max-width: 100%;
  }
}
.login-form {
  width: 290px;
}
.login-form-title{
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
  font-size: 24px;
  color: #333;
  line-height: 1.2;
  text-align: center;
  width: 100%;
  display: block;
  padding-bottom: 54px;
}
.wrap-input{
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 10px;
}
.main-input {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;

  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 50px;
  border:none;
  border-radius: 25px;
  padding: 0 30px 0 68px;

  &:focus {
      + .focus-input {
          -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
          animation: anim-shadow 0.5s ease-in-out forwards;
      }

      + .focus-input + .symbol-input{
          color: #5C6BC0;
          padding-left: 28px;
      }
  }
} 
.focus-input{
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(92, 107, 192, 0.8);
}

.symbol-input {
  font-size: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 35px;
  pointer-events: none;
  color: #666666;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

@-webkit-keyframes anim-image {
  0% {
      transform: skewY(20deg) rotate(0deg);
  }
  100% {
      transform: skewY(-20deg) rotate(5deg);
  }
}
@keyframes anim-image {
  0% {
      transform: skewY(20deg) rotate(0deg);
  }
  100% {
      transform: skewY(-20deg) rotate(5deg);
  }
}
.wrap-login-btn{
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}
.login-btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  border:none;
  border-radius: 25px;
  width: 100%;
  height: 50px;
  background: #5C6BC0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  &:hover{
      background: #333333; 
  }
}
// responsive mode
@media (max-width: 992px) {
  
}

#toggle-nav {
  visibility: hidden;
}

#toggle-nav-close {
  visibility: hidden;
  float: right;
}

.progress{
  font-size:.68rem;
}

.bg-unryddle{
  background-color: $color-primary-1 !important;
}

.bg-white {
  background-color: $white;
  height: 33em;
  border-radius: 8px;
  padding: 60px 100px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
}

.border-bottom {
  border-bottom: solid 1px rgba(0, 0, 0, 0.09);
}

.main-wrapper {
  width: 100%;
  height: 100%;
  padding-left: 250px;
  &.container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
  &.survey-wrapper {
    padding-left: 0;
  }
  .container {
    height: inherit;
    .height-100 {
      height: 100%;
    }
  }
}

.row-offcanvas {
  position: relative;
  margin-left: 0;
  margin-right: 0;
  height: 100%;
}

// Form Controls
.row {
  &.profileRow {
    width: 70%;
    margin-bottom: 3em;
  }
}
.form-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: $color-primary-1;
  border-bottom: solid 1px rgba($color-primary-2, 0.2);
  text-transform: capitalize;
  padding-bottom: 8px;
  margin-bottom: 2em;
  width: 65%;
}
.form-header {
  font-size: 20px;
  margin-bottom: 59px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: $color-primary-1;
}

.form-control {
  // height: 48px;
  // height: calc(2.25rem + 2px);
  margin-bottom: 7px;

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba($color-primary-1, 0.25);
    border-color: $color-primary-1;
  }
}

.searchForm {
  width: 48%;
  display: inline-block;

  .form-control {
    border-top: none;
    border-left: none;
    border-right: none;
  }
  .input-group-text {
    background: transparent;
    border-left: none;
    border-right: none;
    border-radius: 0;
    border-top: none;
  }
}

.btn {
  &.focus,
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba($color-primary-1, 0.25);
  }
}

// button controls
.btn-secondary {
  -webkit-box-shadow: 0 2px 2px 0 rgba(169, 169, 169, 0.14), 0 3px 1px -2px rgba(169, 169, 169, 0.2), 0 1px 5px 0 rgba(169, 169, 169, 0.12);
  box-shadow: 0 2px 2px 0 rgba(169, 169, 169, 0.14), 0 3px 1px -2px rgba(169, 169, 169, 0.2), 0 1px 5px 0 rgba(169, 169, 169, 0.12);
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  background-color: #ffffff;
  color: #67757c;
  border-color: #cccccc;
}
.btn-circle{
  border-radius: 100%;
  width: 40px;
  height: 40px;
  padding: 10px;
}
.btn-start {
  background: $color-primary-1;
  color: $white;
  border-color: $color-primary-1; // margin-bottom: 17px;
}

.btn-del {
  background: $coral;
  color: $white;
  border-color: $coral;
}
.btn-cancel {
  background: $steel;
  border-color:$steel;
  color:$white;
}

.btn-facebook {
  background: $facebook;
  color: $white;
  border-color: $facebook;
}

.btn-google {
  background: $google;
  color: $white;
  border-color: $google;
}

.btn-add {
  background-color: $color-primary-1;
  color: $white;
  border-color: $color-primary-1;
}

// custom form attributes
label {
  font-family: "Montserrat", sans-serif;
  color: $navy;
  font-size: 14px;
  font-weight: 700;

  span{
    font-style: italic;
    font-weight:300;
    font-size:10px;
  }
}

input,
select,
textarea {
  &.form-control {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
  }
}
.btn {
  font-size: 14px;
}

// utilities
.text-divider {
  font-size: 16px;
  margin-bottom: 17px;
}

.error {
  color: $error;
  font-size: 12px;
}

#sidebar {
  display: block;
  margin-left: -250px;
  left: 250px;
  width: 250px;
  position: fixed;
  background: $navy;
  color: $white;
  min-height: 100%;
  overflow-y: auto;
  -webkit-transition: opacity 0.3s ease-in;
  -moz-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
  z-index: 1000;
  
}

#main-menu {
  border-top:solid 1px rgba(255,255,255,0.3);
  margin-top: 25px;
  padding-top:25px;
}

.badge {
  padding: 0.85em 0.5em;
  font-size: 80%;
  margin-right: 0.65em;
  border-radius: 100%;

  &.badge-unryddle {
    color: $white;
    background-color: $color-primary-1;
    width: 20px;
    height: 20px;
    line-height: 2px;
  }
}

#mainContent {
  padding-left: 0;
  // padding-right:0;
  width: 100%;
  // margin-left: 220px;
  margin-left:235px;
}

.sidebar-header {
  font-size: 22px;
  line-height: 1.09;
  color: $white;
  width: 131px;
  margin: 0;
  padding: 0;

  a {
    img {
      max-width: 90%;
      height: auto;
    }
  }
}

.sidebar-menu-title {
  margin-top: 38px;
  color: $teal;
  font-size: 22px;
}

.alt-nav {
  margin-top: 54px;
  padding-left: 14px;
  a {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: $white;
    i {
      color: $navy;
      background: $teal;
      font-size: 12px;
      border-radius: 100%;
      padding: 0.1em;
    }

    &.active {
      color: $teal;
    }
  }
}

.dropdown-item {
  font-size: 14px;
}

#profileDropdown.show > .btn-light.dropdown-toggle {
  border: none;
}

#profileDropdown.show > .btn-light {
  &:focus {
    box-shadow: none;
  }
}

.profile-link {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  color: $steel;
  &.btn {
    border: none;
    &.btn-light {
      background: transparent;
    }
  }
  .fa.fa-user {
    margin-left: 10px;
  }
}

.contentWrapper {
  width: 60em; // margin-left: 57px;
  margin-left: auto;
  margin-right: auto;
  .nav-tabs {
    border-radius: 5px;
    background-image: linear-gradient(
      to top,
      rgba(238, 238, 238, 0.11),
      #e9e9e9
    );
    border: solid 1px rgba(131, 139, 145, 0.2);
    .nav-link {
      font-size: 14px;
      font-family: "Montserrat", sans-serif;
      padding: 27px 36px;
      color: $steel; // -webkit-transition: all .3s ease-in;
      // transition: all .3s ease-in;
      &.active,
      &:hover,
      &:focus {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        background: transparent;
        border: none;
        color: $navy;
        border-bottom: solid 2px $teal;
      }
    }
  } // .nav-tabs .nav-link,

  // .nav-tabs .nav-link.active
}

.tabContainer {
  .scrtabs-tab-scroll-arrow {
    border: 0;
    background-image: linear-gradient(
      to top,
      rgba(238, 238, 238, 0.11),
      #e9e9e9
    );
    height: 51px;
    padding-top: 16px;
    &:hover,
    &:focus {
      background-image: linear-gradient(
        to top,
        rgba(238, 238, 238, 0.11),
        #e9e9e9
      );
    }
    &.scrtabs-tab-scroll-arrow-left {
      padding-left: 6px;
    }

    span {
      color: $navy;
    }
  }

  .scrtabs-tabs-fixed-container,
  .scrtabs-tab-container {
    height: 51px;
  }
  .tab-wrapper {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    padding: 5px;
    height: 60px;
  }
  .nav-tabs {
    border-radius: 0;
    background-image: linear-gradient(
      to top,
      rgba(238, 238, 238, 0.11),
      #e9e9e9
    );
    border: none;

    position: absolute;
    left: 0px;
    top: 0px;
    min-width: 3000px;
    // margin-left:12px;
    margin-top: 0px;
    li {
      display: table-cell;
      position: relative;
      text-align: center;
      cursor: grab;
      cursor: -webkit-grab;
      color: #efefef;
      vertical-align: middle;
      .nav-link {
        padding: 13px 16px;
        border-radius: 0;
      }
    }
  }
}

.scroller {
  text-align: center;
  cursor: pointer;
  display: none;
  padding: 7px;
  padding-top: 11px;
  white-space: no-wrap;
  vertical-align: middle;
  background-color: #fff;
}

.scroller-right {
  float: right;
}

.scroller-left {
  float: left;
}

.list-group-item {
  border: none;
  border-bottom: solid 1px rgba(131, 139, 145, 0.0);
  padding: 35px 51px 34px 36px;
  margin-bottom: 0;
  &:first-child {
    border-bottom: solid 1px rgba(131, 139, 145, 0.0);
  }
  &:hover,
  &:focus {
    background: rgba($color-primary-2, 0.02);
    // cursor: pointer;
  }
  h5 {
    small {
      width: 55px;
      font-size: 14px;
      font-family: "Montserrat", sans-serif;
      color: $steel;
      padding-right: 15px;
      text-align: right;
    }
  }
  small {
    a {
      color: #000;
      margin-left: 11.5px;
      margin-right: 11.5px;
      font-size: 16px;
      text-decoration: none;
    }
  }
}

.pageHeading {
  width: 100%;
  border-bottom: solid 1px rgba(131, 139, 145, 0.2);
  padding-bottom: 22px;
  &.no-bottomBorder {
    border-bottom: 0;
  }
  h3 {
    font-size: 18px;
    color: $navy;
    // padding-bottom: 22px;
    margin-left: 36px;
    margin-bottom: 0;
  }
}

.welcomeContent {
  h3 {
    margin-top: 46px;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    color: $navy;
    font-weight: 700;
  }
  p {
    margin-top: 62px;
    font-size: 16px;
    line-height: 1.5;
    width: 512px;
    margin-left: auto;
    margin-right: auto;
  }
}

.verificationButton {
  margin-top: 90px;
}

.verText {
  color: $steel;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  margin-right: 15px;
  margin-bottom: 20px;
}

#resendVerification {
  display: inline;
  vertical-align: inherit;
  padding: 13px 36px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.item-label {
  font-size: 14px;
  color: $steel;
  font-family: "Montserrat", sans-serif;
}

.user_name,
.user_email,
.user_role {
  font-size: 16px;
  color: $navy;
  text-transform: capitalize;
}
.user_slug {
  font-size: 16px;
  color: $navy;
  text-transform: lowercase;
}
.item_slug {
  font-size: 16px;
  color: $navy;
}

.user_name,
.user_email {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.user_email {
  text-transform: none;
}

.user_role {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.user-action {
  color: rgba($color-primary-1, 0.8);
  margin-right: 8px;
  margin-left: 8px;
  text-decoration: none;
  &:hover {
    cursor: pointer;
    color: rgba($color-primary-1, 0.4);
  }
}

// indeterminate progress
.progress-line,
.progress-line:before {
  height: 4px;
  width: 100%;
  margin: 0;
}

.progress-line {
  background-color: $white;
  display: -webkit-flex;
  display: flex;
}

.progress-line:before {
  background-color: $color-primary-1;
  content: "";
  -webkit-animation: running-progress 3s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  animation: running-progress 3s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@-webkit-keyframes running-progress {
  0% {
    margin-left: 0px;
    margin-right: 100%;
  }
  50% {
    margin-left: 25%;
    margin-right: 0%;
  }
  100% {
    margin-left: 100%;
    margin-right: 0;
  }
}

@keyframes running-progress {
  0% {
    margin-left: 0px;
    margin-right: 100%;
  }
  50% {
    margin-left: 25%;
    margin-right: 0%;
  }
  100% {
    margin-left: 100%;
    margin-right: 0;
  }
}

.modal {
  label {
    font-size: 14px;
    // color: $steel;
    font-family: "Montserrat", sans-serif;
  }
}

.viewUsers {
  margin-right: 8%;
  font-size: 12px;
  color: $steel;
  font-family: "Montserrat", sans-serif;
  text-decoration: underline;

  i {
    color: $teal;
  }
  &:hover {
    color: $steel;
    text-decoration: underline;
  }
}

.addUsers {
  margin-top: 4%;
  color: $steel;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;

  i {
    color: $white;
    background: $teal;
    border-radius: 100%;
    font-size: 10px;
    padding: 0.3em;
  }

  &:hover {
    color: $steel;
    text-decoration: underline;
  }
}

.empty-header {
  color: $steel;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.formWrapper {
  display: block;
  width: 100%;
  position: relative;
}
.personality-list-margin {
  margin-top: 16px;
  margin-bottom: 20px;
}

.survey-wrapper {
  width: 70em;
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
}
.introText {
  width: 70%;
  margin-left: auto;
  margin-right: auto;

  p {
    font-family: "Montserrat", sans-serif;
    color: $steel;
    margin-bottom: 0;
    line-height: 1.88;
    font-size: 18px;
    font-weight: 700;

    em {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
    }
  }
}
.formArea {
  p {
    font-family: "Montserrat", sans-serif;
    color: $error;
  }
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border-top: solid 1px rgba($steel, 0.25);

  input,
  textarea {
    &::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      font-size: 14px;
    }
    &::-moz-placeholder {
      /* Firefox 19+ */
      font-size: 14px;
    }
    &:-ms-input-placeholder {
      /* IE 10+ */
      font-size: 14px;
    }
    &:-moz-placeholder {
      /* Firefox 18- */
      font-size: 14px;
    }
  }
}
.groupTitle {
  color: $navy;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  padding-top: 20px;
  padding-left: 20px;
  font-weight: 700;
}
.personalityTitle {
  color: $teal;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  margin-left: 20px;
  margin-top: 50px;
  padding-bottom: 5px;
  border-bottom: solid 1px rgba($steel, 0.25);
  font-weight: 700;
}
.raisecForm {
  margin-left: 20px;
  margin-top: 56px;

  .custom-control {
    display: inline-flex;
  }
  .custom-control-label {
    font-family: "Montserrat", sans_serif;
  }
  .form-check-inline {
    margin-right: 1.75rem;
  }
}
.questionsList {
  .list-group-item {
    padding-top: 23px;
    padding-bottom: 15px;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: $navy;
    padding-left: 17px;

    span {
      a {
        margin-left: 12px;
        margin-right: 12px;
        color: $navy;

        &:hover {
          color: $teal;
          text-decoration: none;
        }
      }
    }
  }
}
#raisecQuestionListTabs {
  padding-bottom: 60px;
}
.del-request {
  font-family: "Montserrat", sans-serif;
  line-height: 1.69;
  font-size: 16px;
}
.del-q_name {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 1.69;
  color: $navy;
}

.createFormContent {
  h3 {
    font-size: 18px;
    color: $navy;
  }
}
.customRIASECLabels,
.customEDULabels {
  label.custom-control-label {
    font-family: "Montserrat", sans-serif;
  }
  .blockLabel {
    display: block;
  }
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before,
.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
  background-color: #00939f;
}
.custom-control-input:checked~.custom-control-label::before{
  color: #fff;
  background-color: #00939f;
}
#path_bloodhound,
#cluster_bloodhound,
#industry_cc_bloodhound {
  span.twitter-typeahead {
    display: block !important;
  }
  label,
  input {
    display: block;
    width: 100%;
  }
}

.itemsList{
  padding-left: 15px;
}

.tt-menu.tt-open {
  padding: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 350px;
  border: solid 1px rgba(0, 0, 0, 0.23);
  background-color: #fff;

  &:hover {
    cursor: pointer;
  }

  .tt-suggestion.tt-selectable {
    padding-left: 4px;
    &:hover {
      background-color: $color-primary-1;
      color: $white;
    }
  }
}

// accordion styles
.accordionList {
  .card {
    border-left: none;
    border-right: none;
    border-top: none;
  }
  .card-header {
    background: transparent;
    border-bottom: solid 1px rgba($color-primary-2, 0.01);
    &:first-child {
      border-top: none;
    }
    a {
      display: block;
      padding-top: 0;
      padding-bottom: 0;
      span {
        display: inline-block;
        // width: 50%;
        &.badge {
          float: left;
        }
        &.item-title {
          width: 55%;
          text-align: left;
          font-size: 16px;
          font-family: "Montserrat", sans-serif;
          font-weight:700;
          color: $navy;
          text-transform: capitalize;
        }
        &.item-date {
          width: 40%;
          text-align: right;
          font-size: 12px;
          font-family: "Montserrat", sans-serif;
          color: $steel;
        }
      }
    }
  }
}

// New Styling
.urWrapper{
  display:flex;
  width:100%;
}
#urSidebar{
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: $navy;
  color: $white;
  transition: all 0.3s;
  .nav-item {
    display: block;
    margin-left:5%;
    width: 100%;
  }
  .list-unstyled .nav-item .nav-link {
    display: block;
    font-family: "Montserrat", sans-serif;
    white-space: nowrap;
    overflow: hidden;
    padding:.3rem .6rem;
    padding-left: 0;
    font-size: 13px;
    color: $steel;
    -webkit-transition: width 0.3s ease-in;
    -moz-transition: width 0.3s ease-in;
    transition: width 0.3s ease-in;
    i {
      margin-right: 10px;
      font-size: 9px;
    }
    &:hover {
      color: $color-primary-1;
    }
  }
  .nav-item {
    &.active {
      .nav-link {
        color: $color-primary-1;
      }
    }
  }
}
#urSidebar.active{
  margin-left: -250px;
}
#urSiteContent {
  width: calc(100% - 250px);
  // padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
  background-color: $dash-bg;
}

#urSiteContent.active {
  width: 100%;
}
.sbAvatar{
  img{
    max-width:100px;
    height:auto;
  }
}

.altMenu{
  .nav-item{
    .nav-link{
      font-size: 13px;
      color: $navy;
      transition: all .3s ease-in;
    }
    &.active,
    &:hover{
      .nav-link{
        // font-weight:bold;
        color: $color-primary-1;
      }
    }
  }
}
.nav-bg-white{
  background-color: $white;
}
.dashWrapper{
  padding: 1rem;
}
.pageHeader{
  font-size: 21px;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
}
.col-bg-white{
  background-color: $white;
  // padding:1rem;
}

.footer{
  bottom: 0;
  color: #67757c;
  left: 0px;
  padding: 17px 15px;
  position: absolute;
  right: 0;
  border-top: 1px solid rgba(120, 130, 140, 0.13);
  background: #ffffff;
}
.dashCard{
  transition: all .3s ease-in-out;
  &:hover{
    cursor: pointer;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175) !important;
  }
}
.actionLink{
  color: $color-primary-1;
  text-decoration: none;
  font-size: 14px;
  transition: all .3s linear;

  &:hover,
  &:focus{
    color: $color-primary-1;
    font-weight: 600;
    text-decoration: none;
  }
}
.feeds {
  padding: 0;
  margin:0;
  li {
    list-style: none;
    padding: 10px;
    display: block;

    &:hover{
      background-color: rgba($color-primary-2, 0.1);
      cursor: pointer;
    }

    > div{
      width: 30px;
      height: 30px;
      margin-right: 5px;
      display: inline-block;
      text-align: center;
      vertical-align: middle;  
      border-radius: 100%;

      div.count {
        line-height: 30px;
      }
    }
    span{
      float: right;
      width: auto;
      font-size: 12px;
    }
  }
}
.markersTab {
  .tabs-vertical{
    border-bottom: 0px;
    border-right: 1px solid rgba(120, 130, 140, 0.13);

    li{
      .nav-link{
        color: #263238;
        margin-bottom: 10px;
        border: 0px;
        border-radius: 4px 0 0 4px;

        &.active,
        &:hover,
        &:focus {
          background: #ffffff;
          border: 0px;
          border-right: 2px solid $color-primary-1;
          margin-right: -1px;
          color: $color-primary-1;
        }
      }
    }
  }
  .tab-content{
    padding: 20px;
    
  }
}
.profile-tab{
  li{
    a{
      &.nav-link{
        border: 0px;
        padding: 15px 20px;
        color: #67757c;

        &.active{
          border-bottom:solid 2px $color-primary-1;
          color: $color-primary-1;
        }

        &:hover{
          color: $color-primary-1;
        }
      }
    }
  }
}
.feedlist{
  margin:0;
  padding:0;

  li {
    list-style: none;
    padding: 10px;
    display: block;

    > div{
      width: 30px;
      height: 30px;
      margin-right: 5px;
      display: inline-block;
      text-align: center;
      vertical-align: middle;    
      border-radius: 100%;

      div.count{
        line-height: 30px;
      }
    }

    &:hover{
      background-color: rgba($color-primary-2, 0.1);
      cursor: pointer;
    }

    span{
      &.pos{
        background-color: $color-primary-1;
        color: $white;
        border-radius: 50%;
        width:30px;
        height:20px;
        margin-right:20px;
        font-size:14px;
        line-height:20px;
        padding:3px;
      }
      a{
        color: rgba($color-primary-1, 0.6);
        text-decoration:none;
      }
    }
  }
}
// typography
h4{
  line-height: 22px;
  font-size: 18px;
}
h2{
  line-height: 36px;
  font-size: 24px;
}
h6{
  line-height: 16px;
  font-size: 14px;
  font-weight: 400;
}
.text-muted{
  color: #99abb4 !important;
}

// custom spacing utils
.db{
  display:block;
}
.bg-light-info{
  background-color: $color-primary-1;
  color:$white;
}
.m-r-20{
  margin-right:20px;
}
.m-b-0{
  margin-bottom:0px;
}
.m-t-10{
  margin-top:10px;
}
.m-t-0{
  margin-top:0;
}
.p-t-30{
  padding-top:30px;
}
.height-27 {
  height:27em;
}
.height-33 {
  height:33em;
}
.height-45 {
  height: 38em;
}
.height-55 {
  height:45em;
}
.height-70 {
  height: 50em !important;

  .custom-height-overflow{
    height:44em;
  }
}
.custom-height-overflow {
  height:32em;
  // overflow-y: auto;
}
.lstick{
  width: 2px;
  background: $color-primary-1;
  height: 30px;
  margin-left: -20px;
  margin-right: 18px;
  display: inline-block;
  vertical-align: middle;
}
.unryddleErr{
  color: $color-primary-1;
  font-weight:700;
  font-size: 14px;
}
.careerName {
  font-weight: 700;
}
#edit-profile{
  cursor: pointer;
  &:hover{
    cursor:pointer;
  }
}
.firepad {
  width:100%;
  height:300px;
}
.CodeMirror{
  color: $white;
  background-color: $navy;
}
.powered-by-firepad{
  display:none;
}
.tokenfield{
  &.form-control{
    font-size: 0.85rem;
  }

  .token-input{
    min-width:180px !important;
  }
}

// webinar card styling
.webinar-card-title{
  font-weight: 700;
  font-size: 26px;
  line-height:1.22;
  color: $navy;
}
.webinar-card-subtitle,
.webinar-card-date{
  font-family: 'Comfortaa', cursive;
  font-size: 14px;
  line-height: 1.18;
  margin-top:8px;
  margin-bottom:5px;
  font-weight:700;
}
.webinar-card-desc{
  margin-top:2rem;
  font-family: 'Montserrat', sans-serif;
}
.webinar-media{
  padding:1em;
  border-radius:5px;

  h5{
    font-size:16px;
    font-weight:700;
  }
  p{
    font-size:12px;
  }
  ul{
   
    li{
      font-size:12px;
    }
  } 
}
#webinar-dets{
  &::-webkit-scrollbar{
    width:10px;
    background-color: #f5f5f5;
  }
  &::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #f5f5f5;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb{
    border-radius:10px;
    background-image: -webkit-gradient(linear,
                      left bottom,
                      left top,
                      color-stop(0.44, rgb(238, 161, 156)),
                      color-stop(0.72, rgb(228, 124, 77)),
                      color-stop(0.86, rgb(255, 81, 0))) ;
  }
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #urSidebar {
      margin-left: -250px;
  }
  #urSidebar.active {
      margin-left: 0;
  }
  #urSiteContent {
      width: 100%;
  }
  #urSiteContent.active {
      width: calc(100% - 250px);
  }
  #urSidebarCollapse span {
      display: none;
  }
}


// media queries
// Extra small devices; less than 576px
@media (max-width: 575.99px) {
  #loginPage {
    .bg-white {
      min-width: 80%;
      padding: 60px 30px;
    }
  }
  #sidebar {
    display: none;
  }
  .survey-wrapper {
    width: 100%;
    margin: 0;
    padding-left: 1em;
    padding-right: 1em;

    .headerLogo {
      width: 100vw;
    }

    .introText,
    .formArea {
      width: 100vw;
    }
  }
  #toggle-nav,
  #toggle-nav-close {
    visibility: visible;

    &:hover {
      cursor: pointer;
      color: $teal;
    }
  }
  #mainContent {
    margin-left: 0;

    .contentWrapper {
      width: 100%;
    }
  }
}

@media screen and (min-width:575.99px) and (max-width: 1024px){
  h6{
    font-size: 12px;
  }
}
