@import url("https://fonts.googleapis.com/css?family=Comfortaa|Montserrat:400,700");
html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

p,
div,
section,
aside,
main,
table,
ul,
li,
ol,
a {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.no-js #loader {
  display: none;
}

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}

.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("../images/Preloader_8.gif") center no-repeat #fff;
}

#loginPage {
  padding-left: 0;
  background-color: rgba(180, 192, 202, 0.14);
}

#loginPage label {
  font-size: 14px;
  color: #001e34;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

#loginPage label.error {
  color: #dc3545;
  font-size: 12px;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

#loginPage .ucms {
  font-size: 28px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #001e34;
  margin-top: 79px;
}

#loginPage .form-control {
  border: solid 1px rgba(131, 139, 145, 0.4);
  padding-top: 13px;
  padding-bottom: 12px;
  padding-left: 18px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

#loginPage .form-group a {
  color: #838b91;
  text-decoration: underline;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 13px;
}

.page-limiter {
  width: 100%;
  margin: 0 auto;
}

.login-container {
  width: 100%;
  min-height: 100vh;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #9053c7;
  background: linear-gradient(-135deg, #FD5635, #5C6BC0);
}

.login-box {
  width: 960px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 177px 130px 140px 95px;
}

.login-pic {
  width: 316px;
}

.login-pic img {
  max-width: 100%;
}

.login-form {
  width: 290px;
}

.login-form-title {
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
  font-size: 24px;
  color: #333;
  line-height: 1.2;
  text-align: center;
  width: 100%;
  display: block;
  padding-bottom: 54px;
}

.wrap-input {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 10px;
}

.main-input {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;
  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 50px;
  border: none;
  border-radius: 25px;
  padding: 0 30px 0 68px;
}

.main-input:focus + .focus-input {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

.main-input:focus + .focus-input + .symbol-input {
  color: #5C6BC0;
  padding-left: 28px;
}

.focus-input {
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(92, 107, 192, 0.8);
}

.symbol-input {
  font-size: 15px;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 35px;
  pointer-events: none;
  color: #666666;
  transition: all 0.4s;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

@-webkit-keyframes anim-image {
  0% {
    -webkit-transform: skewY(20deg) rotate(0deg);
            transform: skewY(20deg) rotate(0deg);
  }
  100% {
    -webkit-transform: skewY(-20deg) rotate(5deg);
            transform: skewY(-20deg) rotate(5deg);
  }
}

@keyframes anim-image {
  0% {
    -webkit-transform: skewY(20deg) rotate(0deg);
            transform: skewY(20deg) rotate(0deg);
  }
  100% {
    -webkit-transform: skewY(-20deg) rotate(5deg);
            transform: skewY(-20deg) rotate(5deg);
  }
}

.wrap-login-btn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.login-btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  border: none;
  border-radius: 25px;
  width: 100%;
  height: 50px;
  background: #5C6BC0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  transition: all 0.4s;
}

.login-btn:hover {
  background: #333333;
}

#toggle-nav {
  visibility: hidden;
}

#toggle-nav-close {
  visibility: hidden;
  float: right;
}

.progress {
  font-size: .68rem;
}

.bg-unryddle {
  background-color: #fe340c !important;
}

.bg-white {
  background-color: #fff;
  height: 33em;
  border-radius: 8px;
  padding: 60px 100px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
}

.border-bottom {
  border-bottom: solid 1px rgba(0, 0, 0, 0.09);
}

.main-wrapper {
  width: 100%;
  height: 100%;
  padding-left: 250px;
}

.main-wrapper.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.main-wrapper.survey-wrapper {
  padding-left: 0;
}

.main-wrapper .container {
  height: inherit;
}

.main-wrapper .container .height-100 {
  height: 100%;
}

.row-offcanvas {
  position: relative;
  margin-left: 0;
  margin-right: 0;
  height: 100%;
}

.row.profileRow {
  width: 70%;
  margin-bottom: 3em;
}

.form-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #fe340c;
  border-bottom: solid 1px rgba(179, 179, 179, 0.2);
  text-transform: capitalize;
  padding-bottom: 8px;
  margin-bottom: 2em;
  width: 65%;
}

.form-header {
  font-size: 20px;
  margin-bottom: 59px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #fe340c;
}

.form-control {
  margin-bottom: 7px;
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 52, 12, 0.25);
  border-color: #fe340c;
}

.searchForm {
  width: 48%;
  display: inline-block;
}

.searchForm .form-control {
  border-top: none;
  border-left: none;
  border-right: none;
}

.searchForm .input-group-text {
  background: transparent;
  border-left: none;
  border-right: none;
  border-radius: 0;
  border-top: none;
}

.btn.focus, .btn:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 52, 12, 0.25);
}

.btn-secondary {
  box-shadow: 0 2px 2px 0 rgba(169, 169, 169, 0.14), 0 3px 1px -2px rgba(169, 169, 169, 0.2), 0 1px 5px 0 rgba(169, 169, 169, 0.12);
  transition: 0.2s ease-in;
  background-color: #ffffff;
  color: #67757c;
  border-color: #cccccc;
}

.btn-circle {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  padding: 10px;
}

.btn-start {
  background: #fe340c;
  color: #fff;
  border-color: #fe340c;
}

.btn-del {
  background: #ff0000;
  color: #fff;
  border-color: #ff0000;
}

.btn-cancel {
  background: #838b91;
  border-color: #838b91;
  color: #fff;
}

.btn-facebook {
  background: #3b5791;
  color: #fff;
  border-color: #3b5791;
}

.btn-google {
  background: #9d2b24;
  color: #fff;
  border-color: #9d2b24;
}

.btn-add {
  background-color: #fe340c;
  color: #fff;
  border-color: #fe340c;
}

label {
  font-family: "Montserrat", sans-serif;
  color: #011627;
  font-size: 14px;
  font-weight: 700;
}

label span {
  font-style: italic;
  font-weight: 300;
  font-size: 10px;
}

input.form-control,
select.form-control,
textarea.form-control {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.btn {
  font-size: 14px;
}

.text-divider {
  font-size: 16px;
  margin-bottom: 17px;
}

.error {
  color: #dc3545;
  font-size: 12px;
}

#sidebar {
  display: block;
  margin-left: -250px;
  left: 250px;
  width: 250px;
  position: fixed;
  background: #011627;
  color: #fff;
  min-height: 100%;
  overflow-y: auto;
  transition: opacity 0.3s ease-in;
  z-index: 1000;
}

#main-menu {
  border-top: solid 1px rgba(255, 255, 255, 0.3);
  margin-top: 25px;
  padding-top: 25px;
}

.badge {
  padding: 0.85em 0.5em;
  font-size: 80%;
  margin-right: 0.65em;
  border-radius: 100%;
}

.badge.badge-unryddle {
  color: #fff;
  background-color: #fe340c;
  width: 20px;
  height: 20px;
  line-height: 2px;
}

#mainContent {
  padding-left: 0;
  width: 100%;
  margin-left: 235px;
}

.sidebar-header {
  font-size: 22px;
  line-height: 1.09;
  color: #fff;
  width: 131px;
  margin: 0;
  padding: 0;
}

.sidebar-header a img {
  max-width: 90%;
  height: auto;
}

.sidebar-menu-title {
  margin-top: 38px;
  color: #00939f;
  font-size: 22px;
}

.alt-nav {
  margin-top: 54px;
  padding-left: 14px;
}

.alt-nav a {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #fff;
}

.alt-nav a i {
  color: #011627;
  background: #00939f;
  font-size: 12px;
  border-radius: 100%;
  padding: 0.1em;
}

.alt-nav a.active {
  color: #00939f;
}

.dropdown-item {
  font-size: 14px;
}

#profileDropdown.show > .btn-light.dropdown-toggle {
  border: none;
}

#profileDropdown.show > .btn-light:focus {
  box-shadow: none;
}

.profile-link {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  color: #838b91;
}

.profile-link.btn {
  border: none;
}

.profile-link.btn.btn-light {
  background: transparent;
}

.profile-link .fa.fa-user {
  margin-left: 10px;
}

.contentWrapper {
  width: 60em;
  margin-left: auto;
  margin-right: auto;
}

.contentWrapper .nav-tabs {
  border-radius: 5px;
  background-image: linear-gradient(to top, rgba(238, 238, 238, 0.11), #e9e9e9);
  border: solid 1px rgba(131, 139, 145, 0.2);
}

.contentWrapper .nav-tabs .nav-link {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  padding: 27px 36px;
  color: #838b91;
}

.contentWrapper .nav-tabs .nav-link.active, .contentWrapper .nav-tabs .nav-link:hover, .contentWrapper .nav-tabs .nav-link:focus {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  background: transparent;
  border: none;
  color: #011627;
  border-bottom: solid 2px #00939f;
}

.tabContainer .scrtabs-tab-scroll-arrow {
  border: 0;
  background-image: linear-gradient(to top, rgba(238, 238, 238, 0.11), #e9e9e9);
  height: 51px;
  padding-top: 16px;
}

.tabContainer .scrtabs-tab-scroll-arrow:hover, .tabContainer .scrtabs-tab-scroll-arrow:focus {
  background-image: linear-gradient(to top, rgba(238, 238, 238, 0.11), #e9e9e9);
}

.tabContainer .scrtabs-tab-scroll-arrow.scrtabs-tab-scroll-arrow-left {
  padding-left: 6px;
}

.tabContainer .scrtabs-tab-scroll-arrow span {
  color: #011627;
}

.tabContainer .scrtabs-tabs-fixed-container,
.tabContainer .scrtabs-tab-container {
  height: 51px;
}

.tabContainer .tab-wrapper {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  padding: 5px;
  height: 60px;
}

.tabContainer .nav-tabs {
  border-radius: 0;
  background-image: linear-gradient(to top, rgba(238, 238, 238, 0.11), #e9e9e9);
  border: none;
  position: absolute;
  left: 0px;
  top: 0px;
  min-width: 3000px;
  margin-top: 0px;
}

.tabContainer .nav-tabs li {
  display: table-cell;
  position: relative;
  text-align: center;
  cursor: grab;
  cursor: -webkit-grab;
  color: #efefef;
  vertical-align: middle;
}

.tabContainer .nav-tabs li .nav-link {
  padding: 13px 16px;
  border-radius: 0;
}

.scroller {
  text-align: center;
  cursor: pointer;
  display: none;
  padding: 7px;
  padding-top: 11px;
  white-space: no-wrap;
  vertical-align: middle;
  background-color: #fff;
}

.scroller-right {
  float: right;
}

.scroller-left {
  float: left;
}

.list-group-item {
  border: none;
  border-bottom: solid 1px rgba(131, 139, 145, 0);
  padding: 35px 51px 34px 36px;
  margin-bottom: 0;
}

.list-group-item:first-child {
  border-bottom: solid 1px rgba(131, 139, 145, 0);
}

.list-group-item:hover, .list-group-item:focus {
  background: rgba(179, 179, 179, 0.02);
}

.list-group-item h5 small {
  width: 55px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #838b91;
  padding-right: 15px;
  text-align: right;
}

.list-group-item small a {
  color: #000;
  margin-left: 11.5px;
  margin-right: 11.5px;
  font-size: 16px;
  text-decoration: none;
}

.pageHeading {
  width: 100%;
  border-bottom: solid 1px rgba(131, 139, 145, 0.2);
  padding-bottom: 22px;
}

.pageHeading.no-bottomBorder {
  border-bottom: 0;
}

.pageHeading h3 {
  font-size: 18px;
  color: #011627;
  margin-left: 36px;
  margin-bottom: 0;
}

.welcomeContent h3 {
  margin-top: 46px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  color: #011627;
  font-weight: 700;
}

.welcomeContent p {
  margin-top: 62px;
  font-size: 16px;
  line-height: 1.5;
  width: 512px;
  margin-left: auto;
  margin-right: auto;
}

.verificationButton {
  margin-top: 90px;
}

.verText {
  color: #838b91;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  margin-right: 15px;
  margin-bottom: 20px;
}

#resendVerification {
  display: inline;
  vertical-align: inherit;
  padding: 13px 36px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.item-label {
  font-size: 14px;
  color: #838b91;
  font-family: "Montserrat", sans-serif;
}

.user_name,
.user_email,
.user_role {
  font-size: 16px;
  color: #011627;
  text-transform: capitalize;
}

.user_slug {
  font-size: 16px;
  color: #011627;
  text-transform: lowercase;
}

.item_slug {
  font-size: 16px;
  color: #011627;
}

.user_name,
.user_email {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.user_email {
  text-transform: none;
}

.user_role {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.user-action {
  color: rgba(254, 52, 12, 0.8);
  margin-right: 8px;
  margin-left: 8px;
  text-decoration: none;
}

.user-action:hover {
  cursor: pointer;
  color: rgba(254, 52, 12, 0.4);
}

.progress-line,
.progress-line:before {
  height: 4px;
  width: 100%;
  margin: 0;
}

.progress-line {
  background-color: #fff;
  display: flex;
}

.progress-line:before {
  background-color: #fe340c;
  content: "";
  -webkit-animation: running-progress 3s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  animation: running-progress 3s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@-webkit-keyframes running-progress {
  0% {
    margin-left: 0px;
    margin-right: 100%;
  }
  50% {
    margin-left: 25%;
    margin-right: 0%;
  }
  100% {
    margin-left: 100%;
    margin-right: 0;
  }
}

@keyframes running-progress {
  0% {
    margin-left: 0px;
    margin-right: 100%;
  }
  50% {
    margin-left: 25%;
    margin-right: 0%;
  }
  100% {
    margin-left: 100%;
    margin-right: 0;
  }
}

.modal label {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}

.viewUsers {
  margin-right: 8%;
  font-size: 12px;
  color: #838b91;
  font-family: "Montserrat", sans-serif;
  text-decoration: underline;
}

.viewUsers i {
  color: #00939f;
}

.viewUsers:hover {
  color: #838b91;
  text-decoration: underline;
}

.addUsers {
  margin-top: 4%;
  color: #838b91;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}

.addUsers i {
  color: #fff;
  background: #00939f;
  border-radius: 100%;
  font-size: 10px;
  padding: 0.3em;
}

.addUsers:hover {
  color: #838b91;
  text-decoration: underline;
}

.empty-header {
  color: #838b91;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.formWrapper {
  display: block;
  width: 100%;
  position: relative;
}

.personality-list-margin {
  margin-top: 16px;
  margin-bottom: 20px;
}

.survey-wrapper {
  width: 70em;
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
}

.introText {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.introText p {
  font-family: "Montserrat", sans-serif;
  color: #838b91;
  margin-bottom: 0;
  line-height: 1.88;
  font-size: 18px;
  font-weight: 700;
}

.introText p em {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.formArea {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border-top: solid 1px rgba(131, 139, 145, 0.25);
}

.formArea p {
  font-family: "Montserrat", sans-serif;
  color: #dc3545;
}

.formArea input::-webkit-input-placeholder,
.formArea textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 14px;
}

.formArea input::-moz-placeholder,
.formArea textarea::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 14px;
}

.formArea input:-ms-input-placeholder,
.formArea textarea:-ms-input-placeholder {
  /* IE 10+ */
  font-size: 14px;
}

.formArea input:-moz-placeholder,
.formArea textarea:-moz-placeholder {
  /* Firefox 18- */
  font-size: 14px;
}

.groupTitle {
  color: #011627;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  padding-top: 20px;
  padding-left: 20px;
  font-weight: 700;
}

.personalityTitle {
  color: #00939f;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  margin-left: 20px;
  margin-top: 50px;
  padding-bottom: 5px;
  border-bottom: solid 1px rgba(131, 139, 145, 0.25);
  font-weight: 700;
}

.raisecForm {
  margin-left: 20px;
  margin-top: 56px;
}

.raisecForm .custom-control {
  display: inline-flex;
}

.raisecForm .custom-control-label {
  font-family: "Montserrat", sans_serif;
}

.raisecForm .form-check-inline {
  margin-right: 1.75rem;
}

.questionsList .list-group-item {
  padding-top: 23px;
  padding-bottom: 15px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #011627;
  padding-left: 17px;
}

.questionsList .list-group-item span a {
  margin-left: 12px;
  margin-right: 12px;
  color: #011627;
}

.questionsList .list-group-item span a:hover {
  color: #00939f;
  text-decoration: none;
}

#raisecQuestionListTabs {
  padding-bottom: 60px;
}

.del-request {
  font-family: "Montserrat", sans-serif;
  line-height: 1.69;
  font-size: 16px;
}

.del-q_name {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 1.69;
  color: #011627;
}

.createFormContent h3 {
  font-size: 18px;
  color: #011627;
}

.customRIASECLabels label.custom-control-label,
.customEDULabels label.custom-control-label {
  font-family: "Montserrat", sans-serif;
}

.customRIASECLabels .blockLabel,
.customEDULabels .blockLabel {
  display: block;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before,
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #00939f;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  background-color: #00939f;
}

#path_bloodhound span.twitter-typeahead,
#cluster_bloodhound span.twitter-typeahead,
#industry_cc_bloodhound span.twitter-typeahead {
  display: block !important;
}

#path_bloodhound label,
#path_bloodhound input,
#cluster_bloodhound label,
#cluster_bloodhound input,
#industry_cc_bloodhound label,
#industry_cc_bloodhound input {
  display: block;
  width: 100%;
}

.itemsList {
  padding-left: 15px;
}

.tt-menu.tt-open {
  padding: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 350px;
  border: solid 1px rgba(0, 0, 0, 0.23);
  background-color: #fff;
}

.tt-menu.tt-open:hover {
  cursor: pointer;
}

.tt-menu.tt-open .tt-suggestion.tt-selectable {
  padding-left: 4px;
}

.tt-menu.tt-open .tt-suggestion.tt-selectable:hover {
  background-color: #fe340c;
  color: #fff;
}

.accordionList .card {
  border-left: none;
  border-right: none;
  border-top: none;
}

.accordionList .card-header {
  background: transparent;
  border-bottom: solid 1px rgba(179, 179, 179, 0.01);
}

.accordionList .card-header:first-child {
  border-top: none;
}

.accordionList .card-header a {
  display: block;
  padding-top: 0;
  padding-bottom: 0;
}

.accordionList .card-header a span {
  display: inline-block;
}

.accordionList .card-header a span.badge {
  float: left;
}

.accordionList .card-header a span.item-title {
  width: 55%;
  text-align: left;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #011627;
  text-transform: capitalize;
}

.accordionList .card-header a span.item-date {
  width: 40%;
  text-align: right;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  color: #838b91;
}

.urWrapper {
  display: flex;
  width: 100%;
}

#urSidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #011627;
  color: #fff;
  transition: all 0.3s;
}

#urSidebar .nav-item {
  display: block;
  margin-left: 5%;
  width: 100%;
}

#urSidebar .list-unstyled .nav-item .nav-link {
  display: block;
  font-family: "Montserrat", sans-serif;
  white-space: nowrap;
  overflow: hidden;
  padding: .3rem .6rem;
  padding-left: 0;
  font-size: 13px;
  color: #838b91;
  transition: width 0.3s ease-in;
}

#urSidebar .list-unstyled .nav-item .nav-link i {
  margin-right: 10px;
  font-size: 9px;
}

#urSidebar .list-unstyled .nav-item .nav-link:hover {
  color: #fe340c;
}

#urSidebar .nav-item.active .nav-link {
  color: #fe340c;
}

#urSidebar.active {
  margin-left: -250px;
}

#urSiteContent {
  width: calc(100% - 250px);
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #f4f6f9;
}

#urSiteContent.active {
  width: 100%;
}

.sbAvatar img {
  max-width: 100px;
  height: auto;
}

.altMenu .nav-item .nav-link {
  font-size: 13px;
  color: #011627;
  transition: all .3s ease-in;
}

.altMenu .nav-item.active .nav-link, .altMenu .nav-item:hover .nav-link {
  color: #fe340c;
}

.nav-bg-white {
  background-color: #fff;
}

.dashWrapper {
  padding: 1rem;
}

.pageHeader {
  font-size: 21px;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
}

.col-bg-white {
  background-color: #fff;
}

.footer {
  bottom: 0;
  color: #67757c;
  left: 0px;
  padding: 17px 15px;
  position: absolute;
  right: 0;
  border-top: 1px solid rgba(120, 130, 140, 0.13);
  background: #ffffff;
}

.dashCard {
  transition: all .3s ease-in-out;
}

.dashCard:hover {
  cursor: pointer;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.actionLink {
  color: #fe340c;
  text-decoration: none;
  font-size: 14px;
  transition: all .3s linear;
}

.actionLink:hover, .actionLink:focus {
  color: #fe340c;
  font-weight: 600;
  text-decoration: none;
}

.feeds {
  padding: 0;
  margin: 0;
}

.feeds li {
  list-style: none;
  padding: 10px;
  display: block;
}

.feeds li:hover {
  background-color: rgba(179, 179, 179, 0.1);
  cursor: pointer;
}

.feeds li > div {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border-radius: 100%;
}

.feeds li > div div.count {
  line-height: 30px;
}

.feeds li span {
  float: right;
  width: auto;
  font-size: 12px;
}

.markersTab .tabs-vertical {
  border-bottom: 0px;
  border-right: 1px solid rgba(120, 130, 140, 0.13);
}

.markersTab .tabs-vertical li .nav-link {
  color: #263238;
  margin-bottom: 10px;
  border: 0px;
  border-radius: 4px 0 0 4px;
}

.markersTab .tabs-vertical li .nav-link.active, .markersTab .tabs-vertical li .nav-link:hover, .markersTab .tabs-vertical li .nav-link:focus {
  background: #ffffff;
  border: 0px;
  border-right: 2px solid #fe340c;
  margin-right: -1px;
  color: #fe340c;
}

.markersTab .tab-content {
  padding: 20px;
}

.profile-tab li a.nav-link {
  border: 0px;
  padding: 15px 20px;
  color: #67757c;
}

.profile-tab li a.nav-link.active {
  border-bottom: solid 2px #fe340c;
  color: #fe340c;
}

.profile-tab li a.nav-link:hover {
  color: #fe340c;
}

.feedlist {
  margin: 0;
  padding: 0;
}

.feedlist li {
  list-style: none;
  padding: 10px;
  display: block;
}

.feedlist li > div {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border-radius: 100%;
}

.feedlist li > div div.count {
  line-height: 30px;
}

.feedlist li:hover {
  background-color: rgba(179, 179, 179, 0.1);
  cursor: pointer;
}

.feedlist li span.pos {
  background-color: #fe340c;
  color: #fff;
  border-radius: 50%;
  width: 30px;
  height: 20px;
  margin-right: 20px;
  font-size: 14px;
  line-height: 20px;
  padding: 3px;
}

.feedlist li span a {
  color: rgba(254, 52, 12, 0.6);
  text-decoration: none;
}

h4 {
  line-height: 22px;
  font-size: 18px;
}

h2 {
  line-height: 36px;
  font-size: 24px;
}

h6 {
  line-height: 16px;
  font-size: 14px;
  font-weight: 400;
}

.text-muted {
  color: #99abb4 !important;
}

.db {
  display: block;
}

.bg-light-info {
  background-color: #fe340c;
  color: #fff;
}

.m-r-20 {
  margin-right: 20px;
}

.m-b-0 {
  margin-bottom: 0px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-t-0 {
  margin-top: 0;
}

.p-t-30 {
  padding-top: 30px;
}

.height-27 {
  height: 27em;
}

.height-33 {
  height: 33em;
}

.height-45 {
  height: 38em;
}

.height-55 {
  height: 45em;
}

.height-70 {
  height: 50em !important;
}

.height-70 .custom-height-overflow {
  height: 44em;
}

.custom-height-overflow {
  height: 32em;
}

.lstick {
  width: 2px;
  background: #fe340c;
  height: 30px;
  margin-left: -20px;
  margin-right: 18px;
  display: inline-block;
  vertical-align: middle;
}

.unryddleErr {
  color: #fe340c;
  font-weight: 700;
  font-size: 14px;
}

.careerName {
  font-weight: 700;
}

#edit-profile {
  cursor: pointer;
}

#edit-profile:hover {
  cursor: pointer;
}

.firepad {
  width: 100%;
  height: 300px;
}

.CodeMirror {
  color: #fff;
  background-color: #011627;
}

.powered-by-firepad {
  display: none;
}

.tokenfield.form-control {
  font-size: 0.85rem;
}

.tokenfield .token-input {
  min-width: 180px !important;
}

.webinar-card-title {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.22;
  color: #011627;
}

.webinar-card-subtitle,
.webinar-card-date {
  font-family: 'Comfortaa', cursive;
  font-size: 14px;
  line-height: 1.18;
  margin-top: 8px;
  margin-bottom: 5px;
  font-weight: 700;
}

.webinar-card-desc {
  margin-top: 2rem;
  font-family: 'Montserrat', sans-serif;
}

.webinar-media {
  padding: 1em;
  border-radius: 5px;
}

.webinar-media h5 {
  font-size: 16px;
  font-weight: 700;
}

.webinar-media p {
  font-size: 12px;
}

.webinar-media ul li {
  font-size: 12px;
}

#webinar-dets::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

#webinar-dets::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}

#webinar-dets::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, #eea19c), color-stop(0.72, #e47c4d), color-stop(0.86, #ff5100));
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
  #urSidebar {
    margin-left: -250px;
  }
  #urSidebar.active {
    margin-left: 0;
  }
  #urSiteContent {
    width: 100%;
  }
  #urSiteContent.active {
    width: calc(100% - 250px);
  }
  #urSidebarCollapse span {
    display: none;
  }
}

@media (max-width: 575.99px) {
  #loginPage .bg-white {
    min-width: 80%;
    padding: 60px 30px;
  }
  #sidebar {
    display: none;
  }
  .survey-wrapper {
    width: 100%;
    margin: 0;
    padding-left: 1em;
    padding-right: 1em;
  }
  .survey-wrapper .headerLogo {
    width: 100vw;
  }
  .survey-wrapper .introText,
  .survey-wrapper .formArea {
    width: 100vw;
  }
  #toggle-nav,
  #toggle-nav-close {
    visibility: visible;
  }
  #toggle-nav:hover,
  #toggle-nav-close:hover {
    cursor: pointer;
    color: #00939f;
  }
  #mainContent {
    margin-left: 0;
  }
  #mainContent .contentWrapper {
    width: 100%;
  }
}

@media screen and (min-width: 575.99px) and (max-width: 1024px) {
  h6 {
    font-size: 12px;
  }
}
